h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo-img {
    background-image: url(../images/logo_horizontal..png);
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}

#top {
    height: 350px;
    background-image: url(../images/map.png);
    background-size: contain;
    font-size: medium;
    background-position-x: 300px;
    background-repeat: no-repeat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#map {
    height: 350px;
    background-image: url(../images/sklad1.jpeg);
    font-size: medium;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header-nav {
    border: 0;
}

.bgSizeCover {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    resize: both;
}

#p1 {
    width: 400px;
    height: 300px;
    background: no-repeat center url(../images/i-grupa-azoty-saletrzak-27-25kg.jpeg);
    background-size: cover;
    text-align: bottom left;
    font-size: xx-large;
    color: darkblue;
    float: left;
    
}

#p2 {
    width: 400px;
    height: 300px;
    background: no-repeat center url(../images/wegiel4.jpeg);
    background-size: cover;
    text-align: bottom left;
    font-size: xx-large;
    color: white;
    float: left;
    
}

#p3 {
    width: 400px;
    height: 300px;
    background: no-repeat url(../images/sklad-budowlany2.jpeg);
    background-size: cover;
    text-align: end left;
    font-size: xx-large;
    color: red;
    float: left;
    
}

#p4 {
    width: 400px;
    height: 300px;
    background: no-repeat url(../images/uslugi-transp.jpeg);
    background-size: cover;
    text-align: left;
    font-size: xx-large;
    color: white;
    float: left;
    
}

#bottom {
    height: 60px;
    font-size: large;
    text-align: center left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}