h1 {
    border: 1px solid rgba(12, 143, 12, 0.623);
    background-color: forestgreen;
    color: ghostwhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo-img {
    background-image: url(../images/logo-rolmet.png);
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

.col, .col-4 {
    border: 1px solid red;
    background-color: pink;

}
#top {
    width: 1200px;
    height: 350px;
    border: 1px solid rgba(12, 143, 12, 0.623);
    background-color: forestgreen;
    background-image: url(../images/sklad1.jpeg);
    color: ghostwhite;
    font-size: medium;
    background-position-x: 400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: gold;
    color: rgb(6, 87, 6);
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header-nav {
    background-color: forestgreen;
    border: 0;
}

.bgSizeCover {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    resize: both;
}

#p1 {
    width: 400px;
    height: 300px;
    background: center url(../images/i-grupa-azoty-saletrzak-27-25kg.jpeg);
    text-align: left;
    font-size: xx-large;
    color: green;
    float: left;
    border: 10px solid rgba(12, 143, 12, 0.623);
}

#p2 {
    width: 400px;
    height: 300px;
    background: center url(../images/wegiel4.jpeg);
    text-align: left;
    font-size: xx-large;
    color: green;
    float: left;
    border: 10px solid rgba(12, 143, 12, 0.623);
}

#p3 {
    width: 400px;
    height: 300px;
    background: center url(../images/cement.jpeg);
    text-align: left;
    font-size: xx-large;
    color: green;
    float: left;
    border: 10px solid rgba(12, 143, 12, 0.623);
}

#p4 {
    width: 400px;
    height: 300px;
    background: center url(../images/uslugi-transp.jpeg);
    text-align: left;
    font-size: xx-large;
    color: green;
    float: left;
    border: 10px solid rgba(12, 143, 12, 0.623);
}

#bottom {
    width: 600px;
    height: 200px;
    border: 1px solid rgba(12, 143, 12, 0.623);
    background-color: forestgreen;
    color: ghostwhite;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}